<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg
            class="absolute inset-0 pointer-events-none"
            viewBox="0 0 960 540"
            width="100%"
            height="100%"
            preserveAspectRatio="xMidYMax slice"
            xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">
            <h2 class="text-xl font-semibold">COMPANY DIRECTORY</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Explore Our Company Network
            </div>
            <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                Browse through our network of innovative startups and early-stage companies.
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">
        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <!-- Filters -->
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                <mat-form-field class="w-full sm:w-72" [subscriptSizing]="'dynamic'">
                    <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                    <input
                        (input)="filterByQuery(query.value)"
                        placeholder="Search by name, industry, or description"
                        matInput
                        #query />
                </mat-form-field>
            </div>
            <!-- Startups -->
            <ng-container *ngIf="this.filteredCompanies.length; else noCompanies">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                    <ng-container *ngFor="let company of filteredCompanies; trackBy: trackByFn">
                        <!-- Startup -->
                        <div class="flex flex-col h-auto min-h-96 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <!-- Startup badge -->
                                    <div
                                        class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500">
                                        {{ getCompanyCategoryById(company.category) }}
                                    </div>
                                </div>
                                <!-- Startup name & description -->
                                <div class="mt-4 text-lg font-medium">{{ company.name }}</div>
                                <div class="mt-0.5 line-clamp-2 text-secondary">
                                    {{ company.description || 'No description' }}
                                </div>
                                <div class="w-12 h-1 my-6 border-t-2"></div>

                                <!-- Primary Industry -->
                                <div class="flex items-center leading-5 text-md text-secondary">
                                    <mat-icon
                                        class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:building-office'"></mat-icon>
                                    <div class="ml-1.5">{{ getPrimaryIndustryById(company.primaryIndustry) }}</div>
                                </div>

                                <!-- Website -->
                                <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                                    <mat-icon
                                        class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:link'"></mat-icon>
                                    <div class="ml-1.5">{{ company.website || 'No website' }}</div>
                                </div>

                                <!-- Funding Received -->
                                <div
                                    class="flex items-center mt-2 leading-5 text-md text-secondary"
                                    *ngIf="company.fundingReceived">
                                    <mat-icon
                                        class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                                    <div class="ml-1.5">Funding received: ${{ company.fundingReceived | number }}</div>
                                </div>
                            </div>
                            <!-- Footer -->
                            <div class="flex flex-col w-full mt-auto">
                                <!-- Divider -->
                                <div class="relative h-0.5">
                                    <div class="z-10 absolute inset-x-0 h-6 -mt-3"></div>
                                    <mat-progress-bar class="h-0.5" [value]="100"></mat-progress-bar>
                                </div>

                                <div class="px-6 py-4 bg-gray-50 dark:bg-transparent">
                                    <div class="flex flex-wrap gap-2">
                                        <ng-container *ngFor="let contactId of company.contacts">
                                            <span class="px-2 py-1 text-sm bg-gray-100 dark:bg-gray-800 rounded-full">
                                                {{ getContactById(contactId) }}
                                            </span>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <!-- No startups -->
            <ng-template #noCompanies>
                <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                    <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:document-magnifying-glass'"></mat-icon>
                    <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No companies found!</div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
